# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Node
frontend/node_modules/
frontend/dist/
frontend/.eslintcache
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Databases & local configs
.env
*.db
*.db-journal

# IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db
.vercel
.env*
.neon
.vercel-deploy.log
